.nav-search {
    padding-top: 20px;

    float: none !important;
    margin-right: 0 !important;
    .sidelogo {
        width: 107px;
        height: 30px;
        padding-right: 20px;

        
    }
    .search-icon {
        img {
            height: 21px;
            width: 21px;
            cursor: pointer;            
        }

    }

    &-mob {
        display: none;
        width: 100%;
        @media screen and (max-width:1024px) {
            display: block;
            background: $orange-900;
            bottom: 0;
            position: fixed;
            left: 0;
        
            &-wrap {
                padding: 15px;
            }
        } 
        &-search {
            padding: 4px;

            img {
                width: 21px;
            }
        }
        &-sidelogo {
            margin-left: auto;
        }
    }


    @media screen and (max-width:1024px) {
        display: none;
    }
}